{% extends "login/index.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'pseudoinsta/post_list.css' %}">



<div class="grid" data-masonry='{ 
    "itemSelector": ".grid-item",
    "columnWidth": 1
}'>
    {% for post in object_list %}
    <div class="grid-item">
        <span class="image-title">{{ post.title }}</span>
        <a href="{% url 'post-detail' post.id %}"><img src="{{ post.image.url }}"/></a>
        {% for comments in object_list %}
            <div class="comment-container">
                
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <div class="add-conment-container">
            <input class="comment-input" placeholder="Dodaj komentarz">
            <button class="comment-btn">
                +
            </button>
        </div>
        {% endif %}
    </div>
    {% empty %}
        No Posts yet.
    {% endfor %}
</div>  

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js">
var $grid = $('.grid').masonry({
  columnWidth: 80
});
// change size of item by toggling gigante class
$grid.on( 'click', '.grid-item', function() {
  $(this).toggleClass('gigante');
  // trigger layout after item size changes
  $grid.masonry('layout');
});
</script>

{% endblock%}