{% extends "login/index.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'pseudoinsta/post_detail.css' %}">

<div class="image-detail-container">
    <div class="image-description-container">
        <span class="title">Tytuł: {{ object.title }}</span>
        <span class="author">Autor: {{ object.user }}</span>
    </div>

    <img src="{{ post.image.url}}">

    <div class="comments-conteiner">
        <h4>Komentarze</h4>
        {% for comment in comments %}
            {% if object.pk == comment.post.pk %}
                <div class="coment">
                    {{ comment.user }}: {{ comment.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form method="POST" class="add-comments-container">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Dodaj komentarz</button>
        </div>
    </form>
</div>
{% endblock %}
