{% extends "login/index.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'pseudoinsta/post_list.css' %}">

<div>
 <h1>Articles</h1>
</div>
<ul>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        {% for post in object_list %}
        <div class="grid-item">
            <span>{{ post.title }}</span>
            <img src="{{ post.image.url }}"/>
        </div>
        {% empty %}
            No Posts yet.
        {% endfor %}
    </div>  
</ul>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js">

var elem = document.querySelector('.grid');
var msnry = new Masonry( elem, {  
    itemSelector: '.grid-item',
    columnWidth: auto
});
gridElement.appendChild( elem );
msnry.appended( post.image.url );
msnry.layout();

</script>

{% endblock%}