.image-detail-container {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.image-description-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author{

}

.title{
    font-size: 18px;
    font-weight: 500;
}

.comments-conteiner{
    max-height: 400px;
}

.add-comments-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

img{
    max-height: 350px;
}

textarea {
    height: 30px;
}

.form-group{
    display: flex;
    align-items: center;
}